<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="{{ 'app.description'|trans }}">
        {{ encore_entry_link_tags('main') }}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
